<div class="row align-items-center justify-content-center text-light" style="height: 700px;">
    <div class="col-xl-4 col-lg-6 col-md-6 align-self-center" >
        <div class="card bg-success">
          <div class="card-body">
              <h4 class="card-title">Your account has been activated.</h4>
          </div>
        </div>
    </div>
</div>
