<div class="row align-items-center justify-content-center text-light" style="height: 700px;">
    <div class="col-xl-3 col-lg-4 col-md-4 align-self-center" >
        <div class="card bg-danger">
          <div class="card-body">
              <h4 class="card-title">Wrong code. Enter your code again.</h4>
              <form id="codeform" action="/user/activated" method="post">
                  <div class="form-group text-center">
                      <input data-parsley-required minlength="7" class="form-control" maxlength="14" id="code" type="text" name="code" placeholder="code">
                      <hr>
                      <button class="btn btn-success">Submit</button>
                  </div>
              </form>
          </div>
        </div>
    </div>
</div>
