<div class="row align-items-center justify-content-center text-light" style="height: 700px;">
    <!-- <div class="col-xl-4 col-lg-4 col-md-4">

    </div> -->
    <div class="col-xl-3 col-lg-4 col-md-4 align-self-center" >
        <div class="card bg-primary">
            <div class="card-body">
                <form id="SignUp" action="/user/signup" method="post">
                    <p class="h4 text-center py-4">Sign up</p>
                      <div class="form-group">
                            <label for="InputEmail1">Email address</label>
                            <input data-parsley-required name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                      </div>
                      <div class="form-group">
                            <label for="InputEmail1">Nick</label>
                            <input data-parsley-required data-parsley-length="[4, 14]" name="nick" type="text" class="form-control" id="InputNick" placeholder="Enter Nick">
                            <small class="form-text text-muted"> 4 - 14 characters</small>
                      </div>
                      <div class="form-group">
                            <label for="InputPassword1">Password</label>
                            <input data-parsley-required data-parsley-length="[7, 14]" name="password1" type="password" class="form-control" id="InputPassword1" placeholder="Enter Password">
                            <small class="form-text text-muted"> 7 - 14 characters</small>
                            <!-- <div class="valid-feedback">
                                ok
                            </div> -->
                      </div>
                      <div class="form-group">
                            <label for="InputPassword2">Rewrite password</label>
                            <input data-parsley-equalto='#InputPassword1' data-parsley-required data-parsley-length="[7, 14]" name="password2" type="password" class="form-control" id="InputPassword2" placeholder="Enter Password">

                      </div>
                      <!-- <div class="form-check">
                            <input name="checkbox" type="checkbox" class="form-check-input" id="Check1">
                            <label class="form-check-label" for="Check1">i'm not a robot</label>
                      </div> -->
                      <button id="send" type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>

        </div>
    </div>


</div>
