<div class="row align-items-center justify-content-center text-light" style="height: 700px;">
    <div class="col-xl-3 col-lg-4 col-md-4 align-self-center" >
        <div class="card bg-danger">
          <div class="card-body">
              <h4 class="card-title">Wrong e-mail or password.</h4>
          </div>
        </div>
    </div>
</div>
