<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 text-center">
        <hr>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <h2>Navigation</h2>
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Me</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Top 100</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Legends</a>
        </div>
        <hr>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <h2>The Game</h2>
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Escape Lines</a>
        </div>
    </div>
    <div id='tables' class="col-xl-10 col-lg-10 col-md-8 col-sm-12">
        <hr>
        <table id='table' class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">Player</th>
                    <th scope="col">Nick</th>
                    <th scope="col">Games</th>
                    <th scope="col">Victories</th>
                    <th scope="col">Defeats</th>
                    <th scope="col">Exp</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
